* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --dark-color: #01383b;
    --main-color: #5ABA8A;
    --light-color: #b6e07f;
    --gradient: linear-gradient(to left, var(--dark-color), var(--main-color), var(--light-color));
    --background: hsl(220, 12%, 13%);
    --section: hsl(220, 12%, 7%);
    font-family: 'Roboto', 'Arial Narrow', Arial, sans-serif;
}

body {
    min-height: 100vh;
    background-color: var(--background);
    color: whitesmoke;
    /* font-size: 2rem; */
    display: flex;
    flex-flow: row;
    font-family: sans-serif;

}

header {
    width: 100%;
}

header p {
    font-size: 3rem;
    margin: 2rem 0;
    /* border: 1px solid #44B78B; */
    text-align: center;
    color: var(--main-color);
}

aside {
    height: 100vh;
    /* border-right: 1px solid #44B78B; */
    width: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark-color);
}

nav {
    color: white;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* border: 1px solid fuchsia; */
    height: 70%;
    gap: 2rem;
}

aside a {
    color: white;
}

aside a:hover {
    color: var(--main-color);
}

aside form {
    height: 5rem;
    /* border: 1px solid fuchsia; */
}

aside form button{
    font-size: 1.5rem;
}

aside form button:hover{
    color: var(--main-color);
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    /* border: 1px solid fuchsia; */
    height: 100vh;
}

h1 {
    font-size: 2.5rem;
    background-color: var(--section);
    border-radius: 10px;
    padding: 1%;
    /* margin-top: 1rem; */
    width: 60%;
    margin-bottom: 1.5rem;
}

a {
    text-decoration: none;
    color: var(--main-color);
}

a:hover {
    color: var(--light-color);
}

.link-btn {
    font-size: 1.2rem;
    padding: 10px;
    color: white;
    border-radius: 5px;
    width: 10rem;
    cursor: pointer;
    background: none;
    border: none;
    display: block;
}

.link-btn:hover {
    color: white;
    opacity: .85;
}

ul {
    /* border: 1px solid seagreen; */
    padding: 1%;
    list-style-type: none;
}

section {
    background-color: var(--section);
    border-radius: 10px;
    padding: 2%;

}

button {
    font-size: 1.2rem;
    padding: 10px;
    color: white;
    border-radius: 5px;
    width: 6rem;
    cursor: pointer;
    background: none;
    border: none;
}

button:hover {
    opacity: 0.8;
}

.primary-btn {
    background: var(--main-color);
    border: none;
    text-align: center;
}

.primary-btn:hover {
    background: var(--light-color);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid var(--main-color); */
    padding: 2% 0;
}

form div {
    width: 50%;
    /* border: 1px solid var(--main-color); */
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

input, textarea, select {
    /* border: 1px solid var(--light-color); */
    width: 100%;
    margin-top: 10px;
}

input, select:not([multiple]) {
    height: 2rem;
}

strong {
    font-weight: 700;
}

.form-w-validation-hr {
    flex-direction: row;
    /* border: 1px solid var(--light-color); */
    align-items: flex-end;
}
.form-w-validation-hr div {
    margin-bottom: 0;
}

h2 {
    border-bottom: 2px solid var(--main-color);
    height: 2.5rem;
    width: 60%;
}

h3 a{
    color: white;
    font-weight: 500;
}

.canvasjs-chart-credit {
    display:none;
}

.errorlist {
    color: rgb(206, 50, 50);
    font-size: 0.95rem;
    font-style: italic;
}

.helptext {
    color:hsl(220, 12%, 53%);
    font-size: 0.95rem;
    font-style: italic;
}

/*===========================================Dashboard==================================================*/
.dashboard-ctn {
    display: grid;
    gap: 2rem;
    height: 100%;
    grid-template-columns: 49% 49%;
    grid-template-rows: repeat(4, 22%);
    /* border: 1px solid var(--light-color); */
}

.donut-chart {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    height: 100%;
    /* border: 1px solid blue; */
}

.statistics {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.stats-ctn {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    /* border: 1px solid blue; */
    height: 65%;
}

.stats-ctn div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.statistics h2{
    width: 90%;
}

.statistics-emphasis {
    font-size: 1.3rem;
    font-weight: 700;
}

.encouragments {
    font-size: .95rem;
    color:hsl(220, 12%, 53%);
    /* border: 1px solid blue; */
    text-align: center;
}

.projects-list {
    grid-column: 2 / 2;
    grid-row: 1 / 5;
    /* border: 1px solid blue; */
    /* height: 100%; */
}

.projects-ctn {
    overflow: scroll;
    max-height: 92%;
    scrollbar-color: var(--dark-color) transparent;
}

.projects-ctn li {
    margin: 1rem 0;
    border-bottom: 1px solid var(--background);
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.projects-ctn li .bar-ctn {
    height: 1rem;
    width: 30%;
}

.title-ctn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid var(--light-color); */
}

.progress-form-dbd {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

/*===========================================project page==================================================*/
.bar-ctn {
    width: 100%;
    height: 3rem;
    background-color: var(--background);
}

.bar {
    height: 100%;
}

.project-ctn {
    display: grid;
    gap: 1.5rem;
    height: 100%;
    grid-template-columns: 49% 49%;
    grid-template-rows: repeat(4, 22%);
    /* border: 1px solid var(--light-color); */
}

.project-progress-bar {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    /* border: 1px solid var(--light-color); */
}

.progress-form-prj {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.project-log {
    grid-column: 2 / 3;
    grid-row: 3 / 5;
}

.project-summary {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
}

.progress-chart {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.percentage {
    font-size: 4rem;
    font-weight: 700;
}

.word-count {
    font-size: 1.5rem;
}
/*===========================================Homepage==================================================*/
.btn-ctn {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 5rem;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
    justify-content: center;
    height: 100vh;
}

.home h1 {
    background-color: transparent;
    font-size: 5rem;
    text-align: center;
    margin: 0;
}

.emphasis {
    font-weight: 700;
    color: var(--main-color);
}