{% extends 'layout.html' %}

{% block title %} Manage your info {% endblock %}

{% block content %}
    <h1>Manage your info</h1>
    <h2>Change your email and time zone</h2>
    <form action="/users/manage" method="post" class="form-w-validation">
        {% csrf_token %}
        {{ info_form }}
        <button type="submit" class="primary-btn">Submit</button>
    </form>
    <h2>Change your password</h2>
    <form action="/users/manage" method="post" class="form-w-validation">
        {% csrf_token %}
        {{ password_form }}
        <button type="submit" class="primary-btn">Submit</button>
    </form>
{% endblock %}