<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ca9ca94b48.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %}" defer></script>
    <title>
        {% block title_unlogged %}
            Word Salad
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <main>
        {% block body %}
        {% endblock %}
    </main>
</body>
</html>